<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Manage Programs</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="/stylesheets/semantic.min.css"/>
    <script src="/javascripts/jquery-3.1.0.min.js"></script>
    <script src="/javascripts/semantic.js"></script>
    <script src="/javascripts/script.managePrograms.js"></script>
</head>
<body>
<h1 class="ui teal header" style="margin-top: 32px ; margin-left: 32px ; margin-bottom: 32px">Dashboard</h1>
<div class="ui divider"></div>
<div class="container" style="padding: 32px">
    <% semesters.forEach(function(semester, index){ %>
    <h3 class="ui header">Semester <%= index + 1 %></h3>
    <div class="ui stacked segment">
        <table class="ui celled table">
            <tr>
                <th>
                    Course
                </th>
                <th>
                    Maximum Marks
                </th>
                <th>
                    Credits
                </th>
                <th>
                    Hours
                </th>
            </tr>
            <% semester.forEach(function(course){ %>
            <tr>
                <td><%= course.courseName %></td>
                <td><%= course.maxMarks %></td>
                <td><%= course.credits %></td>
                <td><%= course.hours %></td>
            </tr>
            <% }); %>
        </table>
    </div>
    <% }); %>
</div>
</body>
</html>